.header {
  margin-top: 45px;
  border: 1px rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
  max-width: 880px;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 722px) {
  .header {
    margin-top: 28px;
    max-width: 320px;
    border-bottom-width: 320px;
    padding-bottom: 0;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    padding: 0 167px 32px 27px;
  }
}
