.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  max-width: 282px;
  display: flex;
  background-color: white;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__description-title {
  width: 193px;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 29.05px;
  font-weight: 900;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/likeinactive2.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button_active {
  background-image: url(../images/like-active.svg);
}

.card__delete-button {
  background-image: url(../images/Trash.svg);
  background-color: transparent;
  width: 19.3px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  border: none;
  margin: 18px 15px 244.7px 249px;
  transition: opacity 0.3s ease;
}

.card__delete-button:hover {
  opacity: 0.5;
}
